@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/staticfiles1/staticfiles2/css/favicon.png"/>
    <title>Страница не найдена</title>
</head>
<body>
<div>
    <h1>404</h1>
    <p>Ой! Страница не найдена.</p>
    <p>Кажется, мы не можем найти страницу, которую вы ищете.</p>
    <a href="/">Вернуться на главную</a>
</div>
</body>
</html>