@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.css";
body {
    background-color: #0d1117;
    color: white;
}
header{
    background-color: #0d1117;
    color:white;
}
#header{
    float:left;
}
#header a{
    color: white;
}

.horizontal-nav-scroll{
    background-color: #0d1117;
    border-top:2px solid white;
    border-bottom:2px solid white;
}
.horizontal-nav-scroll::-webkit-scrollbar{
    width:5px;
    height:10px;
}
.horizontal-nav-scroll::-webkit-scrollbar-track{
    background-color: rgb(150, 150, 150);
}
.horizontal-nav-scroll::-webkit-scrollbar-thumb{
    background-color: white;
}
.horizontal-tutorial{
    color:white;
    background-color: #0d1117;
    border-color: white;
}
.horizontal-tutorial:hover{
    color: white;
    background-color: darkslateblue;
}
code::-webkit-scrollbar-track {
    background: transparent;
}

code::-webkit-scrollbar-thumb {
    background-color: white;
}

.vertical-menu-content{
    background-color:#0d1117;
    border-color: white;
}
.vertical-menu-content::-webkit-scrollbar-track {
    background-color: rgb(150, 150, 150);
}
.vertical-menu-content::-webkit-scrollbar-thumb {
    background-color: white;
}
.item{
    background-color: #0d1117;
    color: white;
    border-bottom: 3px solid white;
}
.item:hover{
    background-color: darkslateblue;
    color: white;
}
.render{
    border:2px solid white;
}
.swap{
    color: #0d1117;
    background-color: white;
}
table{
    border: 2px solid white;
}
td, th{
    border: 3px solid white;
    padding: 3px;
}
code {
    color: white;
}
.selected {
    background-color: darkslateblue;
    color: white;
}

.copy-button {
    background-color: white;
    color: #0d1117;
    border: none;
}
pre {
    border:2px solid white;
}
footer {
    background-color: #0d1117;
    color: white;
    border-color: white;
}
section {
    background-color: #0d1117;
}
#hero {
    color: white;
}
.chapter {
    border-bottom: 3px solid white;
    background-color: darkred;
}
.tutorial {
    background-color: darkslateblue;
}
.telegram {
    background-image: url("icons/telegram-dark.svg");
}
.telegram:hover {
    background-image: url("icons/telegram-dark-hover.svg");
}
.vk {
    background-image: url("icons/vk-dark.svg");
}
.vk:hover {
    background-image: url("icons/vk-dark-hover.svg");
}
.theme-switcher {
    background-image: url("icons/theme-switch-dark.svg");
}
.theme-switcher:hover {
    background-image: url("icons/theme-switch-dark-hover.svg");
}
a {
    color: lightblue;
}